<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nextu.dao.UploadReviewsMapper" >
  <resultMap id="BaseResultMap" type="com.nextu.model.UploadReviews" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="review_id" property="reviewId" jdbcType="BIGINT" />
  </resultMap>
</mapper>